<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dydxtech.openapps">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/IntroTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"/>

        <service
            android:name=".services.MyService"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".services.CheckIfMusicPlayingService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".receivers.ScreenReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".activities.StartListeningActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="Start Listening"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".activities.StopListeningActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="Stop Listening"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".activities.WakeupActivity"
            android:clearTaskOnLaunch="true"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service
            android:name=".services.CheckIfAppBlackListedService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".receivers.KeyguardReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".services.ScreenReceiversService"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>
